*uvgui*
*uvoptx

sources/generated/*
sources/Loader/Objects/*
sources/Loader/Listings/*
sources/Reader/Listings/*
sources/Reader/Listings-Debug/*
sources/Reader/Objects/*
sources/Reader/Objects-Debug/*
