*uvgui*
*uvoptx

sources/generated/*
sources/Loader/Objects/*
sources/Loader/Listings/*
sources/Reader/Listings-799/*
sources/Reader/Listings-Debug-799/*
sources/Reader/Objects-799/*
sources/Reader/Objects-Debug-799/*
